.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

#items ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 2rem;
}

#items h2{
    background-color: #D9EDF7;
    color: #31708F;
    margin: 0px;
    font-size: 2.5rem;
    padding: 0.75em 0.25em;
    border-bottom: 1px dotted #CCCCCC;
    cursor: pointer;
}

#items li{
    padding: 0.75em 0.5em;
    border-bottom: 1px dotted #CCCCCC;
}
#items li:first-child{
    border-top: 1px dotted #CCCCCC;
}

.item{
    cursor: pointer;
}

.item.check{
    text-decoration: line-through;
    background-color: #DFF0D8;
}

.item .glyphicon-check{
    display:none;
}

.item.check .glyphicon-check{
    display: inline-block;
}

.item.check .glyphicon-unchecked{
    display:none;
}

body{
    background-color: #EEEEEE;
}

.container-fluid{
    max-width: 70rem;
    margin: 0 auto;
}
