<!doctype html>
<html class="no-js" ng-app="BagModule">
    <head>
        <meta charset="utf-8">
        <title>CheckYourBag</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <link rel="prefetch" type="application/l10n" href="/locales/locales.ini" />
    </head>
    <body ng-controller="BagCtrl">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container-fluid">
            <div class="header">
                <h3 data-l10n-id="title">Check Your Bag</h3>
                <p class="text-muted" data-l10n-id="greeter">Check you bag content!</p>
            </div>

            <div id="items">
                <div ng-repeat="category in categories" class="category">
                    <h2 data-toggle="collapse" data-target="#it-{{category.uid}}" data-parent="#items" ng-click="isOpen = !isOpen">
                        <span ng-bind="category.label"></span> (<span class="sel-count" ng-bind="category.checked_items"></span>/<span ng-bind="category.items.length"></span>)
                    </h2>

                    <ul id="it-{{category.uid}}" class="xcollapse xin"  collapse="!isOpen">
                        <li ng-repeat="item in category.items" class="item ng-class:item.class; " ng-click="toggle(item)">
                            <span ng-bind="item.label"></span>
                            <span class="glyphicon glyphicon-unchecked pull-right" ng-if="!item.checked"></span>
                            <span class="glyphicon glyphicon-check pull-right" ng-if="item.checked"></span>
                        </li>  
                    </ul>
                </div>
            </div>

            <div class="footer">
            </div>

        </div>


        <!-- build:js scripts/vendor.js -->
        <script src="./scripts/l10n.js"></script>
        <!-- bower:js -->
        <script src="../bower_components/angular/angular.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/ui-bootstrap-0.11.0.js"></script>«
        <script src="scripts/controllers/bagctrl.js"></script>
        <!-- endbuild -->
</body>
</html>
