    
<div id="items" class="scrollable">
    <div class="scrollable-content">
        <div ng-repeat="category in $storage[bagName]" class="category" ng-if="category.visible_items">
            <h2 toggle target="it-{{category.uid}}"  parent-active-class="open">
                <span ng-bind="category.label"></span> (<span class="sel-count" ng-bind="category.checked_items"></span>/<span ng-bind="category.visible_items"></span>)
                <i class="fa fa-chevron-down pull-right"></i><i class="fa fa-chevron-up pull-right"></i>
            </h2>

            <ul toggleable id="it-{{category.uid}}" class="collapse" active-class="in" default="inactive">
                <li ng-repeat="item in category.items" class="item ng-class:item.class; " ngn-click="toggle(category, item)" ng-if="item.visible">
                    <span ng-bind="item.label"></span>
                    <switch class="pull-right" ng-model="item.checked"  ng-click="updateCounts(category)"></switch>
                </li>  
            </ul>
        </div>
    </div>
</div>

<div content-for="btnLeft">
<div>

<div content-for="menu">
  <div class="list-group" toggle="off" bubble target="mainSidebar">
    <a class="list-group-item" href="" ng-click="resetBag()">Restart cheking<i class="fa fa-chevron-left pull-left"></i></a>
  </div>
  <div class="list-group" toggle="off" bubble target="mainSidebar">
    <a class="list-group-item" ng-href="#/bagedit/{{$storage.current_bag}}">Edit visible items<i class="fa fa-chevron-left pull-left"></i></a>
  </div>
  <div class="list-group" toggle="off" bubble target="mainSidebar">
    <a class="list-group-item" ng-href="#/bagtpl/">Choose bag<i class="fa fa-chevron-left pull-left"></i></a>
  </div>
</div>

