<ion-view title="Choose Your Category">
  <ion-content>
      
    <ion-nav-buttons side="left" >
        <a class="button button-icon button-clear ion-ios7-arrow-back" href="#/bag/all"></a>
    </ion-nav-buttons>
      
    <ion-nav-buttons side="right">
        <button class="button" ng-click="resetBag()">Reset</button>
    </ion-nav-buttons>

    <ion-list>

      <ion-item class="item-icon-right" ng-repeat="category in $storage[bagName]" type="item-text-wrap" href="#/bag/details/{{current_bag}}/cat/{{$index}}" ng-if="category.visible_items">
        <h3>{{category.label}} ({{category.checked_items}}/{{category.visible_items}})</h3>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-view>
