<ion-view ng-attr-title="{{ 'edit-your-bags' | translate }}">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon button-clear ion-checkmark" ui-sref="bag.list"></a>
    </ion-nav-buttons>

    <ion-content>

        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder">

            <ion-item class="item-icon-right" ng-repeat="bag in bags" type="item-text-wrap">
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="removeBag($index)"></ion-delete-button>
                <h3>{{ bag.name }}</h3>
                <ion-reorder-button class="ion-arrow-move" on-reorder="moveBag(bag, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
            <div class="item item-input-inset" ng-if="!shouldShowDelete && !shouldShowReorder">
                <label class="item-input-wrapper">
                    <input type="text" ng-attr-placeholder="{{ 'bag-name' | translate }}" ng-model="name">
                </label>
                <button class="button button-icon ion-plus-round" ng-click="newBag(name)" >
                </button>
            </div>

        </ion-list>

        <div class="button-bar">
            <a class="button"  ng-show="!shouldShowDelete && !shouldShowReorder" ng-click="shouldShowDelete = !shouldShowDelete">{{ 'btn-remove' | translate }}</a>
            <a class="button"  ng-show="!shouldShowDelete && !shouldShowReorder" ng-click="shouldShowReorder = !shouldShowReorder">{{ 'btn-reorder' | translate }}</a>
            <a class="button" ng-show="shouldShowDelete" ng-click="shouldShowDelete = !shouldShowDelete">{{ 'btn-done' | translate }}</a>
            <a class="button" ng-show="shouldShowReorder" ng-click="shouldShowReorder = !shouldShowReorder">{{ 'btn-done' | translate }}</a>
        </div>

    </ion-content>
</ion-view>