<ion-view ng-attr-title="{{ 'choose-visible' | translate }}">
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-checkmark" nav-direction="swap"
           ui-sref="bag.category({bagId:bag.id, id:catid})"></a>
    </ion-nav-buttons>

    <ion-content>

        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder">

            <ion-item class="item-icon-right item-toggle" ng-repeat="item in category.items"
                      type="item-text-wrap">
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="removeItem($index)"></ion-delete-button>
                <h3>{{ item.label }}</h3>
                <label class="toggle toggle-dark" ng-hide="shouldShowReorder">
                    <input type="checkbox" ng-model="item.visible" ng-change="updateCounts()">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                <ion-reorder-button class="ion-arrow-move"
                                    on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
            <div class="item item-input-inset" ng-if="!shouldShowDelete && !shouldShowReorder">
                <label class="item-input-wrapper">
                    <input type="text" ng-attr-placeholder="{{ 'item-name' | translate }}" ng-model="name">
                </label>
                <button class="button button-small" ng-click="newItem(name)" translate>
                    btn-add
                </button>
            </div>

        </ion-list>

        <div class="button-bar">
            <a class="button"  ng-show="!shouldShowDelete && !shouldShowReorder" ng-click="shouldShowDelete = !shouldShowDelete">{{ 'btn-remove' | translate }}</a>
            <a class="button"  ng-show="!shouldShowDelete && !shouldShowReorder" ng-click="shouldShowReorder = !shouldShowReorder">{{ 'btn-reorder' | translate }}</a>
            <a class="button" ng-show="shouldShowDelete" ng-click="shouldShowDelete = !shouldShowDelete">{{ 'btn-done' | translate }}</a>
            <a class="button" ng-show="shouldShowReorder" ng-click="shouldShowReorder = !shouldShowReorder">{{ 'btn-done' | translate }}</a>
        </div>

    </ion-content>
</ion-view>