<ion-view title="Check Your Bag">
  <ion-content>
      
    <ion-nav-buttons side="left" >
        <a class="button button-icon button-clear ion-ios7-arrow-back" href="#/bag/{{current_bag}}"></a>
    </ion-nav-buttons>
      
    <ion-nav-buttons side="right">
      <a class="button" href="#/bag/details_edit/{{current_bag}}/cat/{{catid}}">Edit</a>
    </ion-nav-buttons>

    <div class="list">
        <ion-checkbox ng-repeat="item in $storage[bagName][catid].items" ng-model="item.checked" ng-if="item.visible" ng-change="updateCounts(bagName, catid)">{{item.label}}</ion-checkbox>
    </div>
  </ion-content>
</ion-view>