<ion-view ng-attr-title="{{ category.label }} {{ category.checked_items }}/{{ category.visible_items }}">

    <ion-nav-buttons side="primary">
        <a class="button button-icon button-clear ion-chevron-left" nav-direction="back" ui-sref="bag.list"></a>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <a class="button button-icon button-clear ion-edit" nav-direction="swap" ui-sref="bag.category_edit({bagId:bag.id, id:catid})"></a>
    </ion-nav-buttons>

    <ion-content on-swipe-right="previousCategory()" on-swipe-left="nextCategory()" has-bouncing="false">

        <div class="list">
            <ion-checkbox ng-repeat="item in category.items" ng-model="item.checked"
                          ng-if="item.visible" ng-change="updateCounts(bagName, catid)">{{ item.label }}</ion-checkbox>
        </div>

    </ion-content>
</ion-view>